pkgbase = libnfs
	pkgdesc = client library for accessing NFS shares
	pkgver = 1.9.1
	pkgrel = 1
	url = https://github.com/sahlberg/libnfs
	arch = i686
	arch = x86_64
	license = GPL
	depends = glibc
	source = https://github.com/sahlberg/libnfs/archive/libnfs-1.9.1.tar.gz
	sha256sums = 3ff011553f8b25bd6c7403d44db300cf78a33273c82c3776f76067dc2fb66363

pkgname = libnfs

