pkgbase = libnfs
	pkgdesc = client library for accessing NFS shares
	pkgver = 1.7.0
	pkgrel = 1
	url = https://github.com/sahlberg/libnfs
	arch = i686
	arch = x86_64
	license = GPL
	depends = glibc
	source = https://github.com/sahlberg/libnfs/archive/libnfs-1.7.0.tar.gz
	sha256sums = 724e0b15cb2099ab3bbdb8456eaab54bc6d1de76da4b4f3251323471523e2114

pkgname = libnfs

